/* css for nav-bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
/* css for vertical line */

.verticalLine {
  border-left: thick solid #000000;
}

/* flexbox css */

.group {
display: flex;
flex-direction: column;
margin-bottom: 100px;
/* background-color: blue; */
}

.group img {
  width: 100%;
}

.blue {
  background-color: blue;
}

.item {
flex: 1;
margin: 10px
}
.item-double {
  flex: 2
}

/* cs for different sizes of screens */

/* Large screen */
@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}
/* Smartphone */
@media all and (min-width: 300px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: column;
  }
}
/* Ipad */
@media all and (min-width: 600px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}

/* Css for contact form area */

form {
  padding-right: 6px;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}